
body{
    margin:0;
    padding:0;	
}
/* This is to prevent horizontal scrolling */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/*Styling of the nav bar as a whole*/
.navbar{
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
    grid-gap: 10px;
    background-color: black;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
}
/*This is where the logo is styled*/
.logo{
    display: grid;
    align-content: center;
    font-size: 30px ;
    cursor: pointer;
    font-family: fantasy;
    color: rebeccapurple;
}
/*This is where the links are styled as a whole*/
.links{
    display: grid;
    grid-auto-flow: column;
   
} 
/*This is the styling of the anchor(a) tag*/
.links a{
    color: white;
    line-height: 70px;
     font-family: fantasy;
    text-decoration: none;
}
/*This is where the color is added so that when you hover over the links it changes colors*/
a:hover{
    color: rebeccapurple;
}
/*This is for the styling of the button*/
button{
    border: none;
    padding: 10px 20px;
    background-color:rebeccapurple ;
    width:100px;
    border-radius: 20px;
    background:rebeccapurple;
    transition-property: background, width, height;
    transition: 2s ;
    color: white;
    font-family: fantasy;
    font-size: 15px;
}
/*This is where the color is added so that when you hover over the button it changes colors*/
button:hover{
    background: linear-gradient(-45deg, #2f1c53, #a46dff, #f6d1fd) ;
    width: 150px;
    height: 50px;
    color: black;
}
/* This is the styling for the title as a whole */
.title{
    margin: 0px 50px;
    padding: 0px 20px;
    outline-style: dashed;

}
/* This is to style the header*/
.title h1{
    font-family: fantasy;
    text-align: center;
}
